#!/bin/bash

#
# Install tripleo-common and it's required packages.  This script is the
# default used by RDO to install tripleo-common (from master) atop CentOS to
# build undercloud and overcloud images.
#
# Other platforms/releases can override this script as necessary.
#
set -x

yum install -y {{ artib_dib_release_rpm }}

yum install -y diskimage-builder instack-undercloud openstack-heat-templates \
            openstack-tripleo-image-elements openstack-tripleo-puppet-elements

# FIXME(trown) one of the above packages should have a requires on python-six
yum install -y python-six

yum install -y git

#
# install tripleo-common from trunk master repo. The image building
# library is only on master, but it is probably worthwhile to backport the two
# patches needed to the mitaka branch in RDO
#
curl -Lo /etc/yum.repos.d/delorean.repo http://buildlogs.centos.org/centos/7/cloud/x86_64/rdo-trunk-master-tested/delorean.repo 
yum install -y openstack-tripleo-common

{% if artib_dib_remove_epel %}

# workaround to remove EPEL from images
# LKS: In the "99-dkms" component?
sed -i '/epel/d' /usr/share/diskimage-builder/elements/centos7/element-deps
rm -f /usr/share/diskimage-builder/elements/base/install.d/99-dkms

{% endif %}

# git is needed
