#!/bin/bash

#
# Install tripleo-common and it's required packages.  This script is the
# default used by RDO to install tripleo-common (from master) atop CentOS to
# build undercloud and overcloud images.
#
# Other platforms/releases can override this script as necessary.
#
set -x

bash {{ artib_working_dir }}/repo_setup.sh

yum install -y diskimage-builder instack-undercloud openstack-heat-templates \
            openstack-tripleo-image-elements openstack-tripleo-puppet-elements

# FIXME(trown) one of the above packages should have a requires on python-six
yum install -y python-six

yum install -y git

{% if artib_release == 'mitaka' %}
#
# install tripleo-common from trunk newton repo for mitaka builds.
# The image building library is only on newton and later, so we need this hack
# until mitaka is EOL.
#

base="https://trunk.rdoproject.org/centos7-newton/50/94/50941b13bc1f69137f9dacaa8ee7f3ab49badbf6_f837e722/"
package="openstack-tripleo-common-5.4.2-0.20170111153650.f59d9d8.el7.centos.noarch.rpm"
yum install -y $base/$package

{% else %}

yum install -y openstack-tripleo-common

{% endif %}


{% if artib_dib_remove_epel %}

# workaround to remove EPEL from images
# LKS: In the "99-dkms" component?
sed -i '/epel/d' /usr/share/diskimage-builder/elements/centos7/element-deps
rm -f /usr/share/diskimage-builder/elements/base/install.d/99-dkms

{% endif %}

# git is needed
