disk_images:
  -
    imagename: overcloud-full
    arch: amd64
    type: qcow2
    distro: {{ artib_overcloud_full_distro |default(artib_base_os) }}
    elements:
      - {{ artib_overcloud_full_elements }}
    packages:
{% for package in artib_overcloud_full_packages %}
      - {{ package }}
{% endfor %}
    options:
{% for option in artib_overcloud_full_options %}
      - {{ option }}
{% endfor %}
