#!/bin/bash
# Repo script to setup repos to test RDO updates to the deps repo

set -eux

curl -Lo /etc/yum.repos.d/delorean.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/{{ artib_delorean_hash | default('current-passed-ci')}}/delorean.repo

curl -Lo /etc/yum.repos.d/delorean-deps.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/delorean-deps.repo

yum install -y yum-plugin-priorities

yum install -y centos-release-ceph

cat > /etc/yum.repos.d/common-pending.repo << EOR
[common-pending]
name=common-pending
baseurl=http://cbs.centos.org/repos/cloud7-openstack-common-pending/x86_64/os
enabled=1
gpgcheck=0
priority=2
EOR

{% if artib_release == 'liberty' %}
# (trown) Install ironic-python-agent from mitaka delorean for LIO support.
# We either need to do that or include tgt from EPEL, and upstream
# ironic-python-agent project does not actually even gate the stable branch.
# I am working on getting them to remove the stable branch, which will give us
# LIO support in liberty delorean.
cat <<EOF >> /etc/yum.repos.d/rdo-trunk-mitaka-tested.repo
[rdo-trunk-mitaka-tested]
name=CentOS-7 - RDO Trunk mitaka tested
baseurl=http://buildlogs.centos.org/centos/7/cloud/\$basearch/rdo-trunk-mitaka-tested/
gpgcheck=0
enabled=0
includepkgs=openstack-ironic-python-agent python2-ironic-python-agent python-ironic-lib
EOF
yum install -y --enablerepo=rdo-trunk-mitaka-tested openstack-ironic-python-agent python2-ironic-python-agent
rm -f /etc/yum.repos.d/rdo-trunk-mitaka-tested.repo
{% endif %}

yum update -y
