#!/bin/bash
# Repo script to setup centos7 liberty delorean

set -eux

curl -Lo /etc/yum.repos.d/delorean.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/{{ artib_delorean_hash | default('current-passed-ci')}}/delorean.repo

curl -Lo /etc/yum.repos.d/delorean-deps.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/delorean-deps.repo

yum install -y yum-plugin-priorities

# Enable Storage/SIG Ceph repo
# https://review.openstack.org/#/c/340504/10/scripts/tripleo.sh
{% if artib_release in ['liberty', 'mitaka'] %}
rpm -q centos-release-ceph-hammer || sudo yum -y install --enablerepo=extras centos-release-ceph-hammer
sudo sed -i -e 's%gpgcheck=.*%gpgcheck=0%' /etc/yum.repos.d/CentOS-Ceph-Hammer.repo
{% endif %}

# https://review.openstack.org/#/c/340504/10/scripts/tripleo.sh
# TODO(weshayutin): Replace with centos-release-ceph-jewel as above, when available
{% if artib_release in ['master'] %}
sudo yum-config-manager --add-repo https://raw.githubusercontent.com/CentOS-Storage-SIG/centos-release-ceph-jewel/master/CentOS-Ceph-Jewel.repo
sudo yum-config-manager --disable centos-ceph-jewel
sudo yum-config-manager --enable centos-ceph-jewel-test
sudo sed -i -e 's%gpgcheck=.*%gpgcheck=0%' /etc/yum.repos.d/CentOS-Ceph-Jewel.repo
{% endif %}

{% if artib_release == 'liberty' %}
# (trown) Installing ironic-python-agent from mitaka delorean is no longer
# working. This leaves only the option of installing tgtd from EPEL.
# This is unfortunate, but liberty does not have too much life left.
cat <<EOF >> /etc/yum.repos.d/epel-tgtd.repo
[epel-tgtd]
name=Extra Packages for Enterprise Linux 7 - \$basearch
mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=\$basearch
failovermethod=priority
enabled=0
gpgcheck=0
includepkgs=scsi-target-utils perl-Config-General
EOF
yum install -y --enablerepo=epel-tgtd scsi-target-utils
rm -f /etc/yum.repos.d/epel-tgtd.repo
{% endif %}

yum update -y
