#!/bin/bash
# Repo script to setup repos to test RDO updates to the deps repo

set -eux

curl -Lo /etc/yum.repos.d/delorean.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/{{ artib_delorean_hash | default('current-passed-ci')}}/delorean.repo

curl -Lo /etc/yum.repos.d/delorean-deps.repo http://trunk.rdoproject.org/centos7-{{ artib_release }}/delorean-deps.repo

yum install -y yum-plugin-priorities

yum install -y centos-release-ceph

cat > /etc/yum.repos.d/common-pending.repo << EOR
[common-pending]
name=common-pending
baseurl=http://cbs.centos.org/repos/cloud7-openstack-common-pending/x86_64/os
enabled=1
gpgcheck=0
priority=2
EOR

{% if artib_release == 'liberty' %}
# (trown) Installing ironic-python-agent from mitaka delorean is no longer
# working. This leaves only the option of installing tgtd from EPEL.
# This is unfortunate, but liberty does not have too much life left.
cat <<EOF >> /etc/yum.repos.d/epel-tgtd.repo
[epel-tgtd]
name=Extra Packages for Enterprise Linux 7 - $basearch
mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
failovermethod=priority
enabled=0
gpgcheck=0
includepkgs=scsi-target-utils perl-Config-General
EOF
yum install -y --enablerepo=epel-tgtd scsi-target-utils
rm -f /etc/yum.repos.d/epel-tgtd.repo
{% endif %}

yum update -y
