pbr>=1.6
ansible==2.0.1
setuptools>=11.3

# the build role (which handles libvirt and kvm setup)
git+https://github.com/redhat-openstack/ansible-role-tripleo-image-build.git#egg=ansible-role-tripleo-image-build

# to pull in local development changes
# file:///home/me/ci/ansible-role-tripleo-image-build/#egg=ansible-role-tripleo-image-build

